body {
    background-color: #100000;
    height: 1000px;
}

.main-menu {
    background-color: #A20F0F;
    height: 122px;
    position: fixed;
    top: 0;
    right: -12px;
    width: 1240px;
    z-index: 1;
}

.header .square-1 {
    background-color: #A20F0F;
    width: 72px;
    height: 70px;
    position: fixed;
    top: -13px;
    right: 1228px;
}

.header .square-2 {
    width: 97px;
    height: 97px;
    transform: rotate(42deg);
    background-color: #A20F0F;
    position: fixed;
    right: 1183px;
    top: 5px;
}

.header .main-menu-copy {
    background-color: #A20F0F;
    height: 122px;
    position: fixed;
    top: 0;
    right: -12px;
    width: 1240px;
    z-index: 2;
    box-sizing: border-box;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 40px 180px 40px 30px;
    align-items: center;
}

.nav-content .logo {
    font-weight: 800;
    font-family: "Orbitron";
    font-size: 26px;
    text-shadow: 2px 2px #FF89E5, 
    2px -2px #FF89E5,
    -2px 2px #FF89E5,
    -2px -2px #FF89E5;
    color: #00B2FF;
}

.nav-content .links {
    display: flex;
    justify-content: space-between;
    width: 530px;
    align-items: center;
}

.nav-content .links a {
    text-decoration: none;
    color: #35DBF2;
    font-size: 14px;
    font-family: "Orbitron"; 
    font-weight: 900;
    text-shadow: 2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
    text-transform: uppercase;
}

.nav-content .links a:hover {
    text-shadow: 2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black,
    4px 4px 4px orange,
    -4px 4px 4px orange,
    4px -4px 4px orange,
    -4px -4px 4px orange;
}

.nav-content .links a.active {
    text-shadow: 2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black,
    4px 4px 4px orange,
    -4px 4px 4px orange,
    4px -4px 4px orange,
    -4px -4px 4px orange;
}

.nav-content .button {
    width: 170px;
    height: 44px;
    background: linear-gradient(45deg, #8A35F2 140px, transparent 140px);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF500;
    text-shadow: 1px 1px red,
    -1px 1px red,
    1px -1px red,
    -1px -1px red;
    font-size: 14px;
    font-family: "Orbitron";
    font-weight: 600;
    text-transform: uppercase;
}

.nav-content i {
    margin-left: 5px;
}

.white-shadow {
    box-shadow: 0px 0px 20px 10px white;
}

.header .square-copy-1 {
    background-color: #A20F0F;
    width: 72px;
    height: 57px;
    position: fixed;
    top: 0;
    right: 1228px;
    z-index: 1;
}

.header .square-copy-2 {
    width: 97px;
    height: 97px;
    transform: rotate(42deg);
    background-color: #A20F0F;
    position: fixed;
    right: 1183px;
    top: 5px;
    z-index: 1;
}

.aside .block-networks {
    background-color: #2D5796;
    width: 528px;
    height: 150px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 150px;
    transform-origin: right top;
    transform: rotate(-90deg);
}

.aside .square-1 {
    background-color: #2D5796;
    height: 72px;
    width: 85px;
    position: fixed;
    top: 528px;
    right: 0;
    z-index: 1;
}

.aside .square-2 {
    background-color: #2D5796;
    height: 95px;
    width: 95px;
    position: fixed;
    top: 485px;
    right: 35px;
    transform: rotate(48deg);
    z-index: 1;
}

.aside .block-networks-copy {
    width: 528px;
    height: 150px;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 150px;
    transform-origin: right top;
    transform: rotate(-90deg);
}

.aside .square-copy-1 {
    background-color: #2D5796;
    height: 72px;
    width: 85px;
    position: fixed;
    top: 528px;
    right: 0;
}

.aside .square-copy-2 {
    background-color: #2D5796;
    height: 95px;
    width: 95px;
    position: fixed;
    top: 485px;
    right: 35px;
    transform: rotate(48deg);
}

.aside .block-networks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.aside .networks {
    display: flex;
    margin-right: 120px;
    align-items: center;
    transform: rotate(180deg);
}

.block-networks .networks .text {
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: "Orbitron";
    text-transform: uppercase;
    text-shadow: 1px 1px #02FF67,
    -1px 1px #02FF67,
    1px -1px #02FF67,
    -1px -1px #02FF67;
    text-decoration: none;
}

.block-networks .networks .text:hover {
    text-shadow: 1px 1px #02FF67,
    -1px 1px #02FF67,
    1px -1px #02FF67,
    -1px -1px #02FF67,
    4px 4px 4px plum,
    -4px 4px 4px plum,
    4px -4px 4px plum,
    -4px -4px 4px plum;
}

.block-networks .networks .dot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 1px #02FF67;
    background-color: white;
    margin: 0 10px;
}

#line {
    width: 50px;
    height: 1px;
    background-color: white;
    border: 1px solid #02FF67;
    margin-right: 20px;
}




