body {
    background-color: #100000;
    height: 1000px;
}

.main-menu {
    background-color: #A20F0F;
    height: 122px;
    position: fixed;
    top: 0;
    right: -12px;
    width: 1240px;
    z-index: 1;
}

.header .square-1 {
    background-color: #A20F0F;
    width: 72px;
    height: 70px;
    position: fixed;
    top: -13px;
    right: 1228px;
}

.header .square-2 {
    width: 97px;
    height: 97px;
    transform: rotate(42deg);
    background-color: #A20F0F;
    position: fixed;
    right: 1183px;
    top: 5px;
}

.header .main-menu-copy {
    background-color: #A20F0F;
    height: 122px;
    position: fixed;
    top: 0;
    right: -12px;
    width: 1240px;
    z-index: 2;
    box-sizing: border-box;
}

.nav-content {
    display: flex;
    justify-content: space-between;
    margin: 40px 180px 40px 30px;
    align-items: center;
}

.nav-content .logo {
    font-weight: 800;
    font-family: "Orbitron";
    font-size: 26px;
    text-shadow: 2px 2px #FF89E5, 
    2px -2px #FF89E5,
    -2px 2px #FF89E5,
    -2px -2px #FF89E5;
    color: #00B2FF;
}

.links-navigation {
    display: flex;
    justify-content: space-between;
    width: 530px;
    align-items: center;
}

.links-navigation a {
    text-decoration: none;
    color: #35DBF2;
    font-size: 14px;
    font-family: "Orbitron"; 
    font-weight: 900;
    text-shadow: 2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black;
    text-transform: uppercase;
}

.links-navigation a:hover {
    text-shadow: 2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black,
    4px 4px 4px orange,
    -4px 4px 4px orange,
    4px -4px 4px orange,
    -4px -4px 4px orange;
}

.links-navigation a.active {
    text-shadow: 2px 2px black,
    -2px 2px black,
    2px -2px black,
    -2px -2px black,
    4px 4px 4px orange,
    -4px 4px 4px orange,
    4px -4px 4px orange,
    -4px -4px 4px orange;
}

.button-contact {
    width: 170px;
    height: 44px;
    background: linear-gradient(45deg, #8A35F2 140px, transparent 140px);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF500;
    text-shadow: 1px 1px red,
    -1px 1px red,
    1px -1px red,
    -1px -1px red;
    font-size: 14px;
    font-family: "Orbitron";
    font-weight: 600;
    text-transform: uppercase;
}

.nav-content i {
    margin-left: 5px;
}

.white-shadow {
    box-shadow: 0px 0px 20px 10px white;
}

.header .square-copy-1 {
    background-color: #A20F0F;
    width: 72px;
    height: 57px;
    position: fixed;
    top: 0;
    right: 1228px;
    z-index: 1;
}

.header .square-copy-2 {
    width: 97px;
    height: 97px;
    transform: rotate(42deg);
    background-color: #A20F0F;
    position: fixed;
    right: 1183px;
    top: 5px;
    z-index: 1;
}

.aside .block-networks {
    background-color: #2D5796;
    width: 528px;
    height: 150px;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 150px;
    transform-origin: right top;
    transform: rotate(-90deg);
}

.aside .square-1 {
    background-color: #2D5796;
    height: 72px;
    width: 85px;
    position: fixed;
    top: 528px;
    right: 0;
    z-index: 1;
}

.aside .square-2 {
    background-color: #2D5796;
    height: 95px;
    width: 95px;
    position: fixed;
    top: 485px;
    right: 35px;
    transform: rotate(48deg);
    z-index: 1;
}

.aside .block-networks-copy {
    width: 528px;
    height: 150px;
    position: fixed;
    z-index: 0;
    top: 0;
    right: 150px;
    transform-origin: right top;
    transform: rotate(-90deg);
}

.aside .square-copy-1 {
    background-color: #2D5796;
    height: 72px;
    width: 85px;
    position: fixed;
    top: 528px;
    right: 0;
}

.aside .square-copy-2 {
    background-color: #2D5796;
    height: 95px;
    width: 95px;
    position: fixed;
    top: 485px;
    right: 35px;
    transform: rotate(48deg);
}

.aside .block-networks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.aside .networks {
    display: flex;
    margin-right: 120px;
    align-items: center;
    transform: rotate(180deg);
}

.block-networks .networks .text {
    color: white;
    font-size: 14px;
    font-weight: 600;
    font-family: "Orbitron";
    text-transform: uppercase;
    text-shadow: 1px 1px #02FF67,
    -1px 1px #02FF67,
    1px -1px #02FF67,
    -1px -1px #02FF67;
    text-decoration: none;
}

.block-networks .networks .text:hover {
    text-shadow: 1px 1px #02FF67,
    -1px 1px #02FF67,
    1px -1px #02FF67,
    -1px -1px #02FF67,
    4px 4px 4px plum,
    -4px 4px 4px plum,
    4px -4px 4px plum,
    -4px -4px 4px plum;
}

.block-networks .networks .dot {
    width: 4px;
    height: 4px;
    border-radius: 2px;
    box-shadow: 0px 0px 0px 1px #02FF67;
    background-color: white;
    margin: 0 10px;
}

#line {
    width: 50px;
    height: 1px;
    background-color: white;
    border: 1px solid #02FF67;
    margin-right: 20px;
}

.open-links {
    display: none;
}

.open-menu {
    display: none;
}

.white-block {
    display: none;
}

.button-shadow {
    display: none;
}

@media (min-width: 1530px) {
    .main-menu {
        width: 1300px;
    }

    .header .square-1 {
        right: 1288px;
    }

    .header .square-2 {
        right: 1243px;
    }

    .header .main-menu-copy {
        width: 1300px;
    }

    .header .square-copy-1 {
        right: 1288px;
    }
    
    .header .square-copy-2 {
        right: 1243px;
    }

    .links-navigation {
        width: 580px;
    }
}

@media (min-width: 1635px) {
    .main-menu {
        width: 1420px;
    }

    .header .square-1 {
        right: 1408px;
    }

    .header .square-2 {
        right: 1363px;
    }

    .header .main-menu-copy {
        width: 1420px;
    }

    .header .square-copy-1 {
        right: 1408px;
    }
    
    .header .square-copy-2 {
        right: 1363px;
    }
}

@media (max-width: 1360px) {
    .main-menu {
        width: 1140px;
    }

    .header .square-1 {
        right: 1128px;
    }

    .header .square-2 {
        right: 1083px;
    }

    .header .main-menu-copy {
        width: 1140px;
    }

    .header .square-copy-1 {
        right: 1128px;
    }
    
    .header .square-copy-2 {
        right: 1083px;
    }

    .nav-content .logo {
        font-weight: 800;
        font-size: 20px;
    }

    .button-contact {
        width: 150px;
        height: 44px;
        background: linear-gradient(45deg, #8A35F2 125px, transparent 125px);
        font-size: 13px;
    }

    .links-navigation {
        width: 480px;
    }
    
    .links-navigation a {
        text-decoration: none;
        font-size: 12px;
        font-weight: 700;
    }
}

@media (max-width: 1250px) {
    .aside .block-networks {
        z-index: 1;
        width: 468px;
        height: 120px;
        right: 120px;
    }

    .aside .square-1 {
        z-index: 0;
        height: 72px;
        width: 55px;
        top: 468px;
    }
    
    .aside .square-2 {
        z-index: 0;
        height: 95px;
        width: 95px;
        top: 425px;
        right: 5px;
    }
    
    .aside .block-networks-copy {
        width: 468px;
        height: 120px;
        right: 120px;
        z-index: -1;
    }
    
    .aside .square-copy-1 {
        z-index: -1;
        height: 72px;
        width: 55px;
        top: 468px;
    }
    
    .aside .square-copy-2 {
        z-index: -1;
        height: 95px;
        width: 95px;
        top: 425px;
        right: 5px;
    }
    
    .aside .networks {
        margin-right: 140px;
    }
    
    .block-networks .networks .text {
        font-size: 12px;
    }

    #line {
        width: 40px;
        margin-right: 10px;
    }

    .main-menu {
        width: 1040px;
        height: 102px;
    }

    .header .square-1 {
        right: 1028px;
        height: 50px;
    }

    .header .square-2 {
        right: 983px;
        top: -15px;
    }

    .header .main-menu-copy {
        width: 1040px;
        height: 102px;
    }

    .header .square-copy-1 {
        right: 1028px;
        height: 37px;
    }
    
    .header .square-copy-2 {
        right: 983px;
        top: -15px;
    }

    .nav-content {
        margin: 30px 50px 40px 30px;
    }
}

@media (max-width: 1150px) {
    .main-menu {
        width: 940px;
        height: 102px;
    }

    .header .square-1 {
        right: 928px;
        height: 50px;
    }

    .header .square-2 {
        right: 883px;
        top: -15px;
    }

    .header .main-menu-copy {
        width: 940px;
        height: 102px;
    }

    .header .square-copy-1 {
        right: 928px;
        height: 37px;
    }
    
    .header .square-copy-2 {
        right: 883px;
        top: -15px;
    }

    .nav-content {
        margin: 30px 30px 40px 30px;
    }
}

@media (max-width: 1050px) {
    .main-menu {
        width: 840px;
        z-index: 5;
    }

    .header .square-1 {
        right: 828px;
        z-index: 5;
    }

    .header .square-2 {
        right: 783px;
        z-index: 5;
    }

    .header .main-menu-copy {
        width: 840px;
        z-index: 11;
    }

    .header .square-copy-1 {
        right: 828px;
        z-index: 11;
    }
    
    .header .square-copy-2 {
        right: 783px;
        z-index: 11;
    }

    .links-navigation {
       flex-direction: column;
       position: fixed;
       background-color: #A20F0F;
       width: 200px;
       top: 102px;
       height: 240px;
       padding: 20px;
       box-sizing: border-box;
       z-index: 10;
       right: 627px;
    }

    .links-navigation a {
        font-size: 16px;
    }

    .nav-content {
        margin: 30px 50px 40px 0px;
        z-index: 11;
    }

    .white-block {
        display: block;
        position: fixed;
        background-color: #A20F0F;
        width: 200px;
        height: 240px;
        box-shadow: 0px 0px 20px 10px white;
        top: 102px;
        right: 627px;
        z-index: 6;
    }

    .nav-content .open-links {
        display: flex;
        width: 40px;
        height: 40px;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 78px;
        z-index: 11;
    }

    .nav-content .open-links div {
        height: 4px;
        border-radius: 2px;
        background-color: #35DBF2;
        border: 2px solid black;
    }

    .aside .block-networks {
        z-index: 9;
        width: 438px;
        height: 100px;
        right: 100px;
    }

    .aside .square-1 {
        z-index: 8;
        height: 52px;
        width: 55px;
        top: 437px;
    }
    
    .aside .square-2 {
        z-index: 8;
        height: 85px;
        width: 67px;
        top: 392px;
        right: 12px;
    }
    
    .aside .block-networks-copy {
        width: 438px;
        height: 100px;
        right: 100px;
        z-index: 7;
    }
    
    .aside .square-copy-1 {
        z-index: 7;
        height: 52px;
        width: 55px;
        top: 437px;
    }
    
    .aside .square-copy-2 {
        z-index: 7;
        height: 85px;
        width: 67px;
        top: 392px;
        right: 12px;
    }
    
    .aside .networks {
        margin-right: 140px;
    }

    #line {
        display: none;
    }

    .nav-content .logo {
        font-size: 32px;
    }
}

@media (max-width: 950px) {
    .main-menu {
        width: 740px;
    }

    .header .square-1 {
        right: 728px;
    }

    .header .square-2 {
        right: 683px;
    }

    .header .main-menu-copy {
        width: 740px;
    }

    .header .square-copy-1 {
        right: 728px;
    }
    
    .header .square-copy-2 {
        right: 683px;
    }

    .white-block {
        right: 527px;
    }

    .links-navigation {
        right: 527px;
    }
}

@media (max-width: 840px) {
    .main-menu {
        width: 640px;
        height: 82px;
    }

    .header .square-1 {
        right: 628px;
        height: 42px;
        width: 46px;
    }

    .header .square-2 {
        right: 583px;
        height: 60px;
        width: 60px;
        top: 10px;
        right: 601px;
    }

    .header .main-menu-copy {
        width: 640px;
        height: 82px;
    }

    .header .square-copy-1 {
        right: 628px;
        height: 42px;
        width: 46px;
    }
    
    .header .square-copy-2 {
        right: 583px;
        height: 60px;
        width: 60px;
        top: 10px;
        right: 601px;
    }

    .nav-content .logo {
        font-size: 24px;
    }

    .white-block {
        top: 82px;
        right: 477px;
        width: 150px;
    }

    .links-navigation {
        top: 82px;
        width: 150px;
        right: 477px;
    }

    .nav-content {
        margin: 20px 50px 40px 0px;
    }

    .links-navigation a {
        font-size: 14px;
    }

    .nav-content .open-links {
        margin-left: 55px;
    }
}

@media (max-width: 715px) {
    .aside .block-networks {
        height: 60px;
        right: 60px;
    }

    .aside .square-1 {
        display: none;
    }
    
    .aside .square-2 {
        display: none;
    }
    
    .aside .block-networks-copy {
        height: 60px;
        right: 60px;
    }
    
    .aside .square-copy-1 {
        display: none
    }
    
    .aside .square-copy-2 {
        display: none;
    }
    
    .aside .networks {
        margin-right: 120px;
    }

    .header .main-menu {
        width: 100%;
        height: 62px;
        left: 0;
    }

    .header .square-1 {
        display: none
    }

    .header .square-2 {
       display: none;
    }

    .header .main-menu-copy {
        width: 100%;
        height: 62px;
        left: 0;
    }

    .header .square-copy-1 {
        display: none;
    }
    
    .header .square-copy-2 {
        display: none; 
    }

    .links-navigation {
        top: 62px;
        width: 150px;
        left: 30px;
    }

    .white-block {
        top: 62px;
        left: 30px;
    }

    .nav-content {
        margin: 12px 30px 40px 30px;
    }

    .nav-content .open-links {
        width: 30px;
        height: 30px;
        margin-left: 60px;
    }
    
    .button-contact {
        width: 140px;
        height: 36px;
        background-color: #8A35F2 ;
        font-size: 12px;
    }
}

@media (max-width: 630px) {
    .nav-content .logo {
        font-size: 20px;
        text-shadow: 1px 1px #FF89E5, 
        1px -1px #FF89E5,
        -1px 1px #FF89E5,
        -1px -1px #FF89E5;
    }
}

@media (max-width: 550px) {
    .nav-content .open-links {
        margin-left: 0px;
    }

    .nav-content {
        margin: 12px 30px 40px 30px;
    }

    .aside .block-networks {
        width: 130px;
        height: 150px;
        top: 62px;
        left: 180px;
        transform: rotate(0deg);
    }
    
    .aside .square-1 {
        width: 88px;
        height: 44px;
        top: 212px;
        left: 180px;
        display: block;
    }
    
    .aside .square-2 {
        width: 60px;
        height: 60px;
        top: 183px;
        left: 238px;
        display: block;
        transform: rotate(45deg);
    }
    
    .aside .block-networks-copy {
        width: 130px;
        height: 150px;
        top: 62px;
        left: 180px;
        transform: rotate(0deg);
    }
    
    .aside .square-copy-1 {
        width: 88px;
        height: 44px;
        top: 212px;
        left: 180px;
        display: block;
    }
    
    .aside .square-copy-2 {
        width: 60px;
        height: 60px;
        top: 183px;
        left: 238px;
        display: block;
        transform: rotate(45deg);
    }
    
    .aside .block-networks {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .aside .networks {
        display: flex;
        margin: 0px auto;
        align-items: center;
        transform: rotate(0deg);
        flex-direction: column;
        justify-content: space-between;
        height: 100px;
    }
    
    .block-networks .networks .dot {
        display: none;
    }
}

@media (max-width: 450px) {
    .nav-content .logo {
        font-size: 16px;
    }
}

@media (max-width: 400px) {
    .links-navigation {
        width: 130px;
        height: 200px;
    }

    .white-block {
        width: 130px;
        height: 200px;
    }

    .links-navigation a {
        font-size: 12px;
    }

    .aside .block-networks {
        width: 120px;
        height: 130px;
        top: 62px;
        left: 160px;
    }
    
    .aside .square-1 {
        display: none;
    }
    
    .aside .square-2 {
        display: none;
    }
    
    .aside .block-networks-copy {
        width: 120px;
        height: 130px;
        top: 62px;
        left: 160px;
        transform: rotate(0deg);
    }
    
    .aside .square-copy-1 {
        display: none;
    }
    
    .aside .square-copy-2 {
        display: none;
    }

    .aside .networks {
        height: 90px;
    }

    .button-contact {
        width: 120px;
        font-size: 11px;
        position: fixed;
        left: 160px;
        top: 190px;
        z-index: 8;
    }

    .button-shadow {
        display: block;
        width: 120px;
        height: 36px;
        font-size: 11px;
        position: fixed;
        left: 160px;
        top: 190px;
        z-index: 6; 
    }

    .header .main-menu {
        z-index: 5;
    }

    .header .main-menu-copy {
        z-index: 10;
    }

    .nav-content .logo {
        font-size: 24px;
    }
}

@media (max-width: 350px) {
    .nav-content .logo {
        font-size: 16px;
    }
}

@media (max-width: 306px) {
    .links-navigation {
        width: 50vw;
        left: 0;
    }

    .white-block {
        display: none;
    }

    .aside .block-networks {
        width: 50vw;
        right: 0;
        left: 50vw;
    }

    .aside .block-networks-copy {
        display: none;
    }
    
    .aside .networks {
        width: 100%;
    }

    .button-shadow {
        display: none; 
    }

    .button-contact {
        width: 50vw;
        right: 0;
        left: 50vw;
    }
}

@media (max-width: 260px) {
    .button-contact {
        font-size: 10px;
    }

    .links-navigation a{
        font-size: 10px;
    }

    .nav-content {
        margin: 10px 10px 0px 10px;
    }

    .nav-content .logo {
        font-size: 14px;
    }

    .header .main-menu {
        height: 50px;
    }

    .header .main-menu-copy {
        height: 50px;
    }

    .links-navigation {
        top: 50px;
    }

    .aside .block-networks {
        top: 50px;
    }

    .button-contact {
        top: 180px;
    }
}



